<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>林业活动详情</title>
</head>
<body>
    <h1>这里是林业活动的详细信息</h1>
     <form action="/activities" method="get">
            <button type="submit">活动风采</button>
     </form>
    <form action="/myenrolled" method="get">
            <button type="submit">我的报名</button>
        </form>
    {% if u_role == '林业从业人员' %}
        <form action="/apply" method="get">
            <button type="submit">我的申请</button>
        </form>
    {% elif u_role == '林业管理人员' %}
        <form action="/approve" method="get">
            <button type="submit">我的审批</button>
        </form>
    {% endif %}
    <a href="/">返回首页</a>
</body>
</html>