<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>活动详情</title>
</head>
<body>
    <h1>活动详情</h1>
    <div>
        <h2>{{ activity.a_name }}</h2>
        <p><strong>活动编号:</strong> {{ activity.a_id }}</p>
        <p><strong>活动地点:</strong> {{ activity.a_location }}</p>
        <p><strong>活动类型:</strong> {% if activity.a_type %}{{ activity.a_type }}{% else %}未知{% endif %}</p>
        <p><strong>活动开始时间:</strong> {{ activity.a_beginTime }}</p>
        <p><strong>活动结束时间:</strong> {{ activity.a_endTime }}</p>
        <p><strong>活动人数:</strong> {{ activity.a_participantNumber }}</p>
        {% if activity.a_ableParticipate  %}
            <p><strong>已报名人数:</strong> {{ activity.a_enrolledNumber }}</p>
        {% endif %}
        <p><strong>活动主办单位:</strong> {{ activity.a_forest }}</p>
        <p><strong>活动简介:</strong> {{ activity.a_introduction }}</p>
        <p><strong>审批状态:</strong> {{ activity.a_state }}</p>
        <p><strong>申请人id:</strong> {{ activity.a_applicantId }}</p>
        <p><strong>申请提交时间:</strong> {{ activity.a_submitTime }}</p>
        {% if activity.a_picPath %}
            <img src="{{ url_for('static', filename=activity.a_picPath) }}" alt="活动封面" style="width: 300px; height: auto;">
        {% endif %}
    </div>
    <form action="{{ url_for('delete_activity', activity_id=activity.a_id) }}" method="post">
    <button type="submit">删除活动</button>
    </form>
     {% if is_approver %}
        {% if activity.a_state == 'approving' %}
            <form action="{{ url_for('approve_activity', activity_id=activity.a_id) }}" method="post">
                <button type="submit">同意</button>
            </form>
            <form action="{{ url_for('dismiss_activity', activity_id=activity.a_id) }}" method="post">
                <label for="dismiss_reason">驳回理由:</label>
                <textarea id="dismiss_reason" name="dismiss_reason" required></textarea>
                <br>
                <button type="submit">驳回</button>
            </form>
        {% endif %}
        <a href="{{ url_for('approve') }}">返回活动列表</a>
    {% else %}
       <a href="{{ url_for('activity') }}">返回</a>
    {% endif %}

</body>
</html>