<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>创建活动</title>
</head>
<body>
    <h1>活动创建</h1>
    <form action="{{ url_for('create_activity') }}" method="post" enctype="multipart/form-data">
        <label for="a_name">活动名称*:</label>
        <input type="text" id="a_name" name="a_name" required><br><br>

        <label for="a_location">活动地点*:</label>
        <input type="text" id="a_location" name="a_location" required><br><br>

        <label for="a_beginTime">活动开始时间*:</label>
        <input type="datetime-local" id="a_beginTime" name="a_beginTime" required><br><br>

        <label for="a_endTime">活动结束时间*:</label>
        <input type="datetime-local" id="a_endTime" name="a_endTime" required><br><br>

        <label for="a_participantNumber">活动人数*:</label>
        <input type="number" id="a_participantNumber" name="a_participantNumber" required><br><br>

        <label for="a_introduction">活动简介*:</label>
        <textarea id="a_introduction" name="a_introduction" required></textarea><br><br>

        <label for="a_forest">活动森林*:</label>
        <input type="text" id="a_forest" name="a_forest" required><br><br>

      <label for="a_type">活动类型*:</label>
        <select id="a_type" name="a_type" required>
           <option value="伐木">伐木</option>
           <option value="采摘">采摘</option>
           <option value="旅游参观">旅游参观</option>
           <option value="野营">野营</option>
           <option value="捕猎">捕猎</option>
        </select><br><br>

        <label for="a_ableParticipate">活动是否面向大众*:</label>
        <input type="checkbox" id="a_ableParticipate" name="a_ableParticipate"><br><br>

        <label for="a_picPath">活动封面*:</label>
        <input type="file" id="a_picPath" name="a_picPath"><br><br>

        <input type="submit" value="提交">
    </form>
    <a href="{{ url_for('activity') }}">返回</a>
</body>
</html>